:root {
  --lightest-yellow: hsl(47, 100%, 97%);
  --lighter-yellow: hsl(47, 100%, 87%);
  --light-yellow: hsl(47, 100%, 77%);
  --light-green: #b6fdad;
  --light-red: #ffdede;
}

h1 {
  font-size: 220%;
  font-weight: bold;
  margin: 0 0 .1em;
}

header {
  border-bottom: 1px solid;
}

header li {
  margin: 0;
}

dl dd {
  margin: 0 0 .5em 2em;
}

dd ul {
  padding: 0;
}

dd li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-color: #000000;
}

td,
th {
  border-width: 1px;
  border-style: solid;
  padding: 0.4em 0.6em;
}

.bibref::before {
  content: "[";
}

.bibref::after {
  content: "]";
}

.heading {
  position: relative;
}

.self-link {
  border: none;
  font-size: 83%;
  height: 2em;
  left: calc(-1 * (3.5rem - 26px));
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity .2s;
  width: calc(3.5rem - 26px);
}

.self-link:hover {
  opacity: 1;
}

.self-link::before {
  content: "§";
}

.rfc2119 {
  text-transform: lowercase;
  font-style: normal;
  color: #900;
}

.example,
.pseudocode {
  border: 1px solid #999;
  margin-left: 0;
  margin-top: 1.5em;
  padding: 2em;
}

.example::before, .pseudocode::before {
  background: white;
  border: 1px solid #bbb;
  color: #666;
  display: block;
  font-family: sans-serif;
  margin: -2em 0 1em -2em;
  padding: 0.2em 2em;
  text-transform: none;
  width: 14em;
}

.pseudocode::before {
  content: "Example JavaScript code";
}

.example-context-graph {
  background-color: var(--lightest-yellow);
}

.example-context-graph::before {
  content: "Example context graph";
}

.example-authorization-graph {
  background-color: var(--lighter-yellow);
}

.example-authorization-graph::before {
  content: "Example authorization graph";
}

.example-access-grant-graph {
  background-color: var(--light-yellow);
}

.example-access-grant-graph::before {
  content: "Example access grant graph";
}

.example-well-known::before {
  content: "Example well known configuration";
}
