name: Copy
on: 
  push:
    branches:
      - main
jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
    - name: Copy
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        src_path: /.
        dst_path: /TR/
        dst_owner: solid
        dst_repo_name: solidproject.org
        exclude: .github/*
        clean: true